@charset "utf-8";

*{
  box-sizing: border-box;
}

html{
  min-height: 100%;
  overflow: auto;
  body{
    height: auto;
    min-height: 100%;
    position: relative;
    background: nth($color_sim,6);
    color: nth($color_sim,2);
  }
}

#app{
  width: 80%;
  margin: 100px auto;
  text-align: center;
  img{
    @keyframes rotating{
      from{transform:rotate(0)}
      to{transform:rotate(360deg)}
    }
    width: 100px;
    height: 100px;
    animation:rotating 15s linear infinite;
    border-radius: 50%;
  }
  p{
    &.muted{
      color: nth($color_sim,3);
    }
  }
}
